
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}

@media only screen and (max-width: 767px) {
  .slideImg{
  display: none !important;
  }
}
li{
  font-size: 20px;
}
.text-main{
  color:#0aad0a
}
.navbar-toggler ,.navbar-nav{
  text-align: center;
  margin: auto;
}
.border-mai{
 border:solid 1px #0aad0a
 
}
.cursor{
  cursor: pointer;
}
.loading{
  display: flex;
  z-index: 134;
  color: green;
  font-size: 100px;
  background-color: #333 !important;
}
.imgCart{
  width: 100% !important;
  height: 220px;
  background-color:transparent;
  border: none;
  margin:0
}
td{
  padding:0 !important
}
@media (min-width:500px)and (max-width:770px){
  .imgCart{
    height: 150px;
  }
}
@media  (max-width:499px){
  .imgCart{
    height: 120px;
  }
}