
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}

@media only screen and (max-width: 767px) {
  .slideImg{
  display: none !important;
  }
}
li{
  font-size: 20px;
}
.text-main{
  color:#0aad0a
}
.navbar-toggler ,.navbar-nav{
  text-align: center;
  margin: auto;
}
.border-mai{
 border:solid 1px #0aad0a
 
}
.cursor{
  cursor: pointer;
}
.loading{
  display: flex;
  z-index: 134;
  color: green;
  font-size: 100px;
  background-color: #333 !important;
}
