
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  font-family: 'Shadows Into Light', cursive,sans-serif;
}

code {
  font-family: 'Shadows Into Light', cursive;
    
}
.cursor{
  cursor: pointer;
}
.loading{
  display: flex;
  z-index: 134;
  color: green;
  font-size: 100px;
  background-color: #333 !important;
}
